<header id="header">
    <div id="banner"></div>  <!-- 横幅 -->
    <div id="header-outer" class="outer">
        <div id="header-inner" class="inner">
            <nav id="main-nav">
                <a class="main-nav-link" href="">首页</a>
                <a class="main-nav-link" href="">归档</a>
                <a class="main-nav-link" href="">关于博主</a>
            </nav>
            <div class="search">
                <form action="" method="get">
                    <!-- placeholder 输入框框未输入内容时,默认显示的灰色文字。 -->
                    <input type="text" name="query" placeholder="搜索">
                </form>
            </div>
        </div>
    </div>

</header>