{% extends 'myblog/base.html' %}

{% block title %}
首页
{% endblock %}

{% block left %}
    <div id="main">
        <article class="article">
            <!-- 文章蓝框上面的信息 -->
            <div class="article-meta">
                <a class="article-date" href="#">
                    <time>2021-06-08</time>
                </a>
                &nbsp;&nbsp;&nbsp;
                <span class="article-category">
                    <a class="article-category-link" href="#" target="_blank">后端</a>
                </span>
            </div>


            <div class="article-inner">
                <header class="article-header">
                    <h1 itemprop="name">    <!--声明属性名，加在要声明的元素中;用做 DOM标记-->
                        <a class="article-title" href="#" target="_blank">T1</a>
                    </h1>
                </header>
                <div class="article-entry" itemprop="articleBody">
                    <h2>前言</h2>
                    <hr>
                    &lt;p&gt;img alt='' sr...

                    <p class="article-more-link">
                        <a href="#" target="_blank">阅读全文</a>
                    </p>
                </div>
                <footer class="article-footer">
                    <a href="#" data-url="存放文章的url" class="article-share-link">分享</a>
                    <hr>
                    <ul class="article-tag-list">
                        <li class="article-tag-list-item">
                            <a class="article-tag-list-link" href="#"># Python</a>
                        </li>
                    </ul>
                </footer>
            </div>
        </article>

        <!-- 分页栏 -->
        <nav id="page-nav">
            <a class="page-number current">1</a>
            <a class="page-number" href="#">2</a>
            <a class="page-number" href="/#">3</a>
            <a class="page-number" href="/#">4</a>
            <a class="page-number" href="/#">5</a>
            <a class="extend next" rel="next" href="#">Next >>> </a>
        </nav>
    </div>
{% endblock %}